<!doctype html>
<!--[if lt IE 7]>      <html ng-app="kalitiri" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html ng-app="kalitiri" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html ng-app="kalitiri" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="kalitiri" class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/angular.1.3.14.min.js"></script>
		<!-- -->
		<link rel="stylesheet/less" type="text/css" href="css/main.less" />
		<script type="text/javascript"></script>

		<script src="js/vendor/less.2.3.1.min.js"></script>
		<!-- -->

		<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Kalitiri</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" role="form">
						<div class="form-group">
							<input type="text" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control">
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
				</div><!--/.navbar-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<players class="col-xs-12 col-sm-3">
					<form ng-submit="Player.add(this)" class="has-feedback">
						<input class="form-control" required placeholder="Player Name" ng-model="player" tabindex="1">
						<button type="reset" class="glyphicon glyphicon-remove"></button>
					</form>
					<player ng-repeat="player in Player" class="has-feedback">
						<input class="form-control" ng-readonly="readonly" ng-model="player.name" ng-init="readonly=true" ng-focus="readonly=false" ng-blur="readonly=true; !player.name.length ? Player.remove(this) : null;" tabindex="1" />
						<button class="glyphicon glyphicon-remove" ng-click="Player.remove(this)"></button>
					</player>
				</players>
				<deck class="col-xs-12 col-sm-9">
					<card class="col-xs-2" ng-repeat="card in Deck" card="{{card.sym}}{{card.symbol}}" color="{{card.color}}"></card>
				</deck>
			</div>
		</div>
		<script src="js/vendor/jquery-1.11.2.min.js"></script>

		<script src="js/vendor/bootstrap.min.js"></script>

		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">
			;( function ($, w, d, undefined) {
				angular
					.module('kalitiri', [])
					.controller('MainCtrl', function($scope) {
						angular.extend($scope, {
							console : 	console,
							Player  : 	(function() {
											console.log('loaded Player');
											$scope.$watch('Player', function (newVal, oldVal) {
											    if (newVal !== null && angular.isDefined(newVal) && newVal !== oldVal) {
											        localStorage.Player = angular.toJson(newVal);
											    }
											}, true);
											return angular.extend(angular.fromJson(localStorage.Player || '[]'), {
												add   : function(p) { this.push({ name: p.player }); p.player = ''; },
												remove: function(p) { this.splice(this.indexOf(p.player), 1); }
											});
										})(),
							Deck    : 	(function(deck) {
											var _suits     = [
													{ 'symbol':'♠', 'suit': 'spades',   'color':'black' },
													{ 'symbol':'♥', 'suit': 'hearts',   'color':'red'   },
													{ 'symbol':'♦', 'suit': 'diamonds', 'color':'red'   },
													{ 'symbol':'♣', 'suit': 'clubs',    'color':'black' }
												],
												_suitCards = 13,
												_minCards  = 7,
												_cards     = _suitCards * _suits.length;
											for(var i = 1; i <= _cards; i++) {
												var weight = i%_suitCards || _suitCards,
													suit   = Math.ceil(i/_suitCards)-1;
												deck.push(angular.extend({ weight: weight, sym: ({ '1':'A','11':'J','12':'Q','13':'K' }[weight] || weight) }, _suits[suit]));
											}
											return angular.extend(deck, {
												// shuffle: function() { return this.sort(function() { return 0.5 - Math.random(); }); }
											});
										})([])
						});

					});
			})(jQuery,window,document);
		 </script>
	</body>
</html>
