<!doctype html>
<!--[if lt IE 7]>      <html ng-app="kalitiri" class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html ng-app="kalitiri" class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html ng-app="kalitiri" class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="kalitiri" class="no-js" lang=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/angular.1.3.14.min.js"></script>
		<!-- -->
		<link rel="stylesheet/less" type="text/css" href="css/main.less" />
		<script type="text/javascript"></script>

		<script src="js/vendor/less.2.3.1.min.js"></script>
		<!-- -->

		<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div class="container">
			<nav class="navbar navbar-inverse">
				<a class="navbar-brand" href="#">Kalitiri</a>
				<span class="pull-right">
					<a class="btn glyphicon glyphicon-off" ng-click="reset()"></a>
				</span>
			</nav>
			<div class="row">
				<players class="col-xs-12 col-sm-3">
					<summary class="clearfix">
						<table class="table table-striped">
							<tr>
								<td class="text-right"> Players:</td>
								<td><input ng-model="players.length" type="number" min="0" tabindex="2" onclick="this.select()" plain /></td>
							</tr>
							<tr>
								<td class="text-right"> Decks:</td>
								<td><input ng-model="decks" type="number" min="1" tabindex="2" onclick="this.select()" plain />({{cards.total}})</td>
							</tr>
							<tr>
								<td class="text-right"> Hands:</td>
							  	<td>{{cards.hands}}</td>
							</tr>
							<tr>
								<td class="text-right"> Include:</td>
							  	<td><input ng-model="include" min="0" tabindex="2" onclick="this.select()" plain /></td>
							</tr>
						</table>
					</summary>
					<form ng-submit="players.add(this)" class="has-feedback">
					  <input ng-model="player" required tabindex="1" onclick="this.select()" plain class="form-control" placeholder="Add Player" />
						<button type="reset" class="glyphicon glyphicon-remove"></button>
					</form>
					<form ng-repeat="player in players track by $index" class="has-feedback">
					  <input ng-model="player.name" ng-blur="!player.name.length ? players.remove(this) : null" tabindex="1" onclick="this.select()" plain class="form-control" />
						<button class="glyphicon glyphicon-remove" ng-click="players.remove(this)"></button>
					</form>
				</players>
				<deck class="col-xs-12 col-sm-9">
					<card ng-repeat="card in cards.extras.concat(cards.stack)" card="{{card.sym}}{{card.symbol}}" color="{{card.color}}" ng-disabled="{{card.extra}}"></card>
					<button class="btn btn-block btn-primary" ng-click="shuffle()">Shuffle</button>
				</deck>
			</div>
		</div>
		<script src="js/vendor/jquery-1.11.2.min.js"></script>

		<script src="js/vendor/bootstrap.min.js"></script>

		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">
			;( function ($, w, d, undefined) {
				angular
					.module('kalitiri', [])
					.controller('MainCtrl', function($scope) {
						var suits 		= 	[
												{ 'symbol':'♠', 'suit': 'spades',   'color':'black' },
												{ 'symbol':'♥', 'suit': 'hearts',   'color':'red'   },
												{ 'symbol':'♦', 'suit': 'diamonds', 'color':'red'   },
												{ 'symbol':'♣', 'suit': 'clubs',    'color':'black' }
											];
						suits.cards 	= 	13;

						$scope.players  = 	(function() {
												return angular.extend(angular.fromJson(localStorage.kalitiri_Players || '[]'), {
													add   : function(p) { this.push({ name: p.player }); p.player = ''; },
													remove: function(p) { this.splice(this.indexOf(p.player), 1); }
												});
											})();
						$scope.include  =   localStorage.kalitiri_Include || 'A,3s';
						$scope.decks    =   parseInt(localStorage.kalitiri_Decks || 1);
						$scope.cards    =   function() {
												$scope.cards.total = suits.cards * suits.length * ($scope.decks || 1);
												$scope.cards.hands = Math.floor($scope.cards.total / ($scope.players.length || 1));

												$scope.cards.stack  = [];
												$scope.cards.extras = [];
												for(var weight = 1, extra = $scope.cards.total % $scope.cards.hands; weight <= suits.cards; weight++)
												for(var suit = 0, sym = ({ '1':'A','11':'J','12':'Q','13':'K' }[weight] || weight); suit < suits.length; suit++)
												for(var deck = 0; deck < $scope.decks; deck++) {
													var inStack = ~($scope.include + ',').indexOf(sym + ',') ? true
																: ~($scope.include + ',').indexOf(sym + suits[suit].suit[0]) ? true
																: extra-- < 1;
													$scope.cards[inStack ? 'stack' : 'extras'].push(angular.extend(
														{
															weight : weight,
															sym    : sym,
															extra  : !(inStack)
														},
														suits[suit]
													));
												}
											};
						$scope.shuffle 	=	function() { $scope.cards.stack.sort(function() { return 0.5 - Math.random(); }); };
						$scope.reset 	=	function() {
												delete localStorage.kalitiri_Players;
												delete localStorage.kalitiri_Decks;
												delete localStorage.kalitiri_Include;
											};

						$scope.$watch('[players, decks, include]', function (newVal, oldVal, scope) {
						    angular.extend(localStorage, { kalitiri_Players  : angular.toJson(newVal[0]), kalitiri_Decks : newVal[1], kalitiri_Include : newVal[2] });
						    $scope.cards();
						}, true);
						$scope.cards();
					});
			})(jQuery,window,document);
		 </script>
	</body>
</html>
